@use "./base.scss";

// put your custom CSS here!
.button {
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 8px 8px 0;
  background-color: #009F4d;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

.button:hover {
  background-color: #007A53;
}